/WebApplication2/nbproject/private/
/WebApplication2/build/
/imranKhan/nbproject/private/
/imranKhan/build/
/WebApplication2/dist/
/Firstjsp-64/nbproject/private/
/Firstjsp-64/build/
/Firstjsp-64/dist/
/WebApplication3/nbproject/private/
/EmployeeByJsp/nbproject/private/
/EmployeeByJsp/dist/
/EmployeeByJsp/build/
